
*{

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
*{
	font-family: 'Helvetica', sans-serif;
}

html {font-size: 18px;
	
}
header {
	width: 100%;
	background-color: black;
	align-items: baseline;
}
header h1 {
	display: inline;
	font-size: 1rem;
}
h1 {
	color: white;
	padding: 0.66rem;
}

.logo {
	height: 1.5rem;
	width: auto;
	padding: auto;
	padding-right: 1rem;
	padding-left: .5rem;
	padding-top:.66rem;
	
}
.billboard {
	background-image: url(".\sasresources\images\moto.jpeg"),
	url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
	background-size: cover;
	height: 25rem;
}
.promo {
	background-color: black;
	color: white;
	width: 20rem;
	margin-left: 3rem;
	
}

h2{
	font-size: 1rem;
	font-weight: bold;
	margin-bottom:0;
}

h3 {
	font-size: 2rem;
	font-weight: bold;
	margin-top: .25rem;
}

nav {
	background-color: firebrick;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	
}

li {
	display: inline;
	list-style-type: none;
	padding-right: 5%;
}

a {
	color: white;
	text-decoration: none;
}

.container {
	margin-top: 3rem;
	display: flex;
	justify-content: space-around;
	align-items: baseline;
}
}

.container div {
	border: black solid 2px;
	width: 30%;
	overflow:hidden;
	padding: 2rem;
	
}

.container img {
	max-height: 100%;
	max-width: 100%;

	
	}
	
.container h2 {
	background-color: black;
	color: white;
	padding: 0.5rem 0rem;
}

.lochours {
	display: flex;
	justify-content: space-around;
}
.lochours div {
	width: 35%;
	
}
.lochours h2 {
	background-color: black;
	color: white;
	padding: 1rem 0rem;
}

footer {
	background-color: black;
	color: white;
	height: 5rem;
	text-align: left;
}


@media only screen and (min-width: 960px){
	body {
	margin: 0 5rem;
	}
	.smallmenu {
		display: none;
	}
}

@media only screen and (max-width: 700px){
	.glasses {display:none;}
	.fullmenu {
		display: none;
	}
	
}

@media only screen and (max-width: 400px){
	body {width: 100%;}
	.glasses {display:none;}
	.watch {display:none;}
	.lochours {
		display: block;
	}
	div {
		margin: 0;
		padding: 0;
	}
	.smallmenu {
		display: none;
		align-items: baseline;
	}
}